.image-card-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.image-card-wrapper:hover .overlay {
  opacity: 1;
}

.icons {
  display: flex;
  gap: 10px;
}

.icon {
  cursor: pointer;
}