.container{
  padding: 10px;
  /* margin: 0 auto; */
}

.navbar {
  margin-bottom: 20px;
}

.images-container {
  display: flex; /* Sử dụng flex để các cột hiển thị bên cạnh nhau */
  gap: 10px; /* Khoảng cách giữa các cột */
}

.column {
  flex: 1; /* Đảm bảo các cột có kích thước bằng nhau */
}